Repository luismayta/resume: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylint

prettier:
  name: prettier
  language: system
  entry: ./node_modules/prettier/bin-prettier.js
  args:
  - --write=true
  - --config=.github/linters/prettier.config.js
  - --ignore-path=.github/linters/.prettierignore

eslint:
  name: eslint
  language: node
  entry: node_modules/eslint/bin/eslint.js
  args:
  - --fix
  - --color
  - --config=.github/linters/.eslintrc.js
  - --ignore-path=.github/linters/.eslintignore

stylint:
  name: stylint
  language: system
  pass_filenames: true
  entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
  args:
  - --fix

feat ✨(core): implement node task (#156)
  .ci/linters/markdown-link-config.json
  .envrc
  .node-version
  .nvmrc
  .pre-commit-config.yaml
  Taskfile.yml
  pyproject.toml
Due: prettier

refactor 🎨(core): implement hooks for markdown link (#156)
  .pre-commit-config.yaml
Due: prettier

fix 🐛(core): change extension to prettier config to cjs (#156)
  .ci/linters/prettier.config.cjs
Due: none

feat ✨(core): implement configuration resume (#156)
  config/config.tex
  resume.tex
Due: none

refactor 🎨(core): separated files configuration (#156)
  config/color.tex
  config/commands.tex
  config/config.tex
  config/main.tex
  config/margin.tex
  resume.tex
Due: none

feat ✨(experience): order experience projects (#156)
  sections/education.tex
  sections/experience.tex
  sections/referess.tex
  sections/skills.tex
Due: none

feat ✨(section): implement day my life (#156)
  sections/day_of_my_life.tex
Due: none

feat ✨(config): implement color config (#156)
  config/color.tex
  config/config.tex
Due: none

refactor 🎨(sidebar): implement pag3 sidebar (#156)
  page1sidebar.tex
  page2sidebar.tex
  page3sidebar.tex
Due: none

chore 🧹(resume): implement day my life (#156)
  core/packages/sections.sty
  resume.tex
Due: none

refactor 🎨(core): separated pages sidebar (#156)
  page1sidebar.tex
  page2sidebar.tex
  page3sidebar.tex
  sections/day_of_my_life.tex
Due: none

refactor 🎨(core): implement command emphasis to experience (#156)
  core/core.cls
  core/packages/commands.sty
  sections/day_of_my_life.tex
  sections/experience.tex
Due: none

refactor 🎨(color): implement color for dates, company and job (#156)
  config/color.tex
  config/commands.tex
  core/packages/commands.sty
  core/packages/items.sty
  core/packages/misc.sty
  core/packages/roles.sty
Due: none

refactor 🎨(config): change color for all sections (#156)
  config/color.tex
Due: none

refactor 🎨(experience): implement emphasis to experience (#156)
  sections/experience.tex
Due: none

refactor 🎨(core): change textcolor to command (#156)
  core/packages/misc.sty
  sections/honors.tex
Due: none

refactor 🎨(color): change color for resume (#156)
  config/color.tex
Due: none

refactor 🎨 (core): implement standard configuration (#161)
  .chglog/config.yml
  .ci/linters/.gitleaks.toml
  .ci/linters/.golangci.yml
  .ci/linters/.goreleaser.yml
  .ci/linters/.prettierignore
  .ci/linters/.tflint.hcl
  .ci/linters/.yamllint
  .ci/linters/markdown-link-config.json
  .ci/linters/prettier.config.cjs
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/confluence.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/sonarqube.yml
  .gitignore
  .node-version
  .nvmrc
  .pre-commit-config.yaml
  .terraform-version
  Taskfile.yml
Due: prettier

refactor 🎨 (core): configuration pyproject (#161)
  pyproject.toml
Due: none

refactor 🎨 (core): change sections and sidebars (#161)
  page2sidebar.tex
  page3sidebar.tex
  page4sidebar.tex
  resume.tex
  sections/education.tex
  sections/experience.tex
  sections/honors.tex
  sections/personal.tex
  sections/skills.tex
  sidebars/certifications.tex
  sidebars/conferences.tex
  sidebars/day_of_my_life.tex
  sidebars/education.tex
  sidebars/honors.tex
  sidebars/languages.tex
  sidebars/referess.tex
  sidebars/skills.tex
  sidebars/soft_skills.tex
  sidebars/technical_domains.tex
Due: none

refactor 🎨 (sections): change day of my life (#161)
  sections/day_of_my_life.tex
  sections/personal.tex
Due: none

refactor 🎨 (docs): migrate information commands for project (#161)
  Taskfile.yml
  docs/commands.md
  docs/contributing.md
Due: prettier

build 🛠 (artifacts): generate resume (#161)
  resume.pdf
  uv.lock
Due: none

Add Github Actions Security workflow
  .github/workflows/github_actions_security.yml
Due: prettier

Trigger security scan
  README.md
Due: prettier

Update Github Actions Security workflow
  .github/workflows/github_actions_security.yml
Due: prettier

refactor 🎨 (core): migrate source code to standard base template (#165)
  .nvmrc
  .pre-commit-config.yaml
  .python-version
  README.md
  Taskfile.yml
  docs/commands.md
  provision/task/changelog.yml
  provision/task/confluence.yml
  provision/task/docker.yml
  provision/task/docs.yml
  provision/task/git.yml
  provision/task/gitflow.yml
  provision/task/go.yml
  provision/task/plantuml.yml
  provision/task/prettier.yml
  provision/task/python.yml
  provision/task/sonar.yml
  provision/task/ssh.yml
  provision/task/terraform.yml
  provision/task/version.yml
  provision/task/yarn.yml
  provision/templates/README.tpl.md
  pyproject.toml
  sonar-project.properties
  uv.lock
Due: prettier

refactor 🎨 (resume): implement resume to 1 page (#165)
  assets/images/me.png
  core/core.cls
  core/packages/items.sty
  page1sidebar.tex
  resume.tex
  sections/experience.tex
  sections/personal.tex
  sidebars/referess.tex
  sidebars/skills.tex
Due: none

feat ✨ (experience): change structure to one page (#165)
  sections/experience.tex
  sections/personal.tex
Due: none

refactor 🎨 (core): change soft skills (#165)
  sidebars/soft_skills.tex
Due: none

feat ✨ (skills): change tech skills (#165)
  page1sidebar.tex
  sidebars/skills.tex
Due: none

build 🛠 (docs): generate resume file (#165)
  resume.pdf
Due: none

[ImgBot] Optimize images
  assets/images/avatar.jpg
  assets/images/me.png
  docs/diagrams/example.png
  docs/diagrams/logo.png
Due: none

package 📦 (1.0.0): generate release major
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  uv.lock
Due: prettier

ci 👷 (ci): update linting and pre-commit config (#170)
  .ci/linters/.golangci.yml
  .ci/linters/.lintstagedrc.js
  .ci/linters/markdown-link-config.json
  .pre-commit-config.yaml
Due: prettier, eslint

build 🛠 (core): update build config and tooling (#170)
  .editorconfig
  Taskfile.yml
  pyproject.toml
Due: prettier

docs 📚 (ci): update README with project overview (#170)
  README.md
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
