Repository luismayta/resume: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylint

prettier:
  name: prettier
  language: system
  entry: ./node_modules/prettier/bin-prettier.js
  args:
  - --write=true
  - --config=.github/linters/prettier.config.js
  - --ignore-path=.github/linters/.prettierignore

eslint:
  name: eslint
  language: node
  entry: node_modules/eslint/bin/eslint.js
  args:
  - --fix
  - --color
  - --config=.github/linters/.eslintrc.js
  - --ignore-path=.github/linters/.eslintignore

stylint:
  name: stylint
  language: system
  pass_filenames: true
  entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
  args:
  - --fix

ci: generate resume
  resume.pdf
Due: none

ci(deps): Update Node.js to v16.14.2
  .nvmrc
Due: none

refactor: name path linters to path ci (#105)
  .ci/linters/.commitlintrc.json
  .ci/linters/.eslintignore
  .ci/linters/.eslintrc.js
  .ci/linters/.gitleaks.toml
  .ci/linters/.golangci.yml
  .ci/linters/.hadolint.yaml
  .ci/linters/.lintstagedrc.js
  .ci/linters/.prettierignore
  .ci/linters/.pylintrc
  .ci/linters/.stylintrc
  .ci/linters/.tflint.hcl
  .ci/linters/markdown-link-config.json
  .ci/linters/prettier.config.js
  .pre-commit-config.yaml
  provision/task/go.yml
  provision/task/prettier.yml
Due: prettier, eslint

chore: implement experience for dev ops engineer (#105)
  .mailmap
  sections/experience.tex
  sections/skills.tex
Due: none

chore: implement sections skills (#105)
  sections/honors.tex
  sections/referess.tex
  sections/skills.tex
Due: none

ci: upgrade rules pre-commit (#105)
  .pre-commit-config.yaml
Due: prettier

chore: implement clean package docker-compose (#105)
  Pipfile
Due: none

build: generate files (#105)
  .gitignore
  README.md
  resume.pdf
Due: prettier

fix: url badge changelog keep (#105)
  provision/generators/README.yaml
Due: prettier

feat: change user name and email ci resume actions (#105)
  .github/workflows/resume.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
