Repository luismayta/resume: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: [--ignore-words=.codespell-ignores]
        exclude: >
          (?x)^(
            .+\.vendor\/.*$|
            .+\.node_modules\/.*$|
            .+\.lock$|
          )$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: detect-private-key
        files: ^(?!\.?git-crypt)
        exclude: .github/linters/.gitleaks.toml
      - id: check-merge-conflict
      - id: trailing-whitespace
        files: ^tf|-|\.(py|tfvars|tf|tfenv|env|yml|yaml|pem|key|mock)$
      - id: end-of-file-fixer
        files: ^tf|-|\.(py|env|yml|yaml|pem|key|mock)$
      - id: check-added-large-files
        files: ^tf|-|\.(py|env|yml|yaml)$
      - id: check-case-conflict
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: check-byte-order-marker
      - id: check-ast
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer
      - id: check-symlinks
      - id: name-tests-test
        args:
          - --django
      - id: file-contents-sorter
      - id: fix-encoding-pragma
      - id: sort-simple-yaml
  - repo: https://github.com/hadenlabs/pre-commit-hooks
    rev: f6cc97fd7683611087766bb542c9a11e70db2f92
    hooks:
      - id: do-not-commit
      - id: markdown-link-check
        exclude: \.tpl.md$
      - id: shellcheck
        exclude: >
          (?x)^(
            .+\.provision/git/hooks/prepare-commit-msg$|
            .+\.tpl.sh$|
          )$
        args:
          - --exclude=SC1072,SC1073,SC2068

      - id: checkov
      - id: todocheck
      - id: gitleaks
        args:
          - --path=.
          - --repo-config-path=.github/linters/.gitleaks.toml
          - --verbose

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: ./node_modules/prettier/bin-prettier.js
        args:
          - '--write=true'
          - '--config=.github/linters/prettier.config.js'
          - '--ignore-path=.github/linters/.prettierignore'
        files: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$
        exclude: node_modules
      - id: eslint
        name: eslint
        language: node
        entry: node_modules/eslint/bin/eslint.js
        args:
          - '--fix'
          - '--color'
          - '--config=.github/linters/.eslintrc.js'
          - '--ignore-path=.github/linters/.eslintignore'
        files: \.(js|jsx|ts|tsx|mjs|d.ts)$
        exclude: node_modules
      - id: stylint
        name: stylint
        language: system
        pass_filenames: true
        entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
        args: [--fix]
        files: \.(css|scss|sass|less)$

build: refactor lint commmits
  .github/linters/.commitlintrc.json
Due: prettier

ci: implement lint code github actions
  .github/workflows/lint.yml
Due: prettier

ci: implement hooks prepare commit msg
  provision/git/hooks/prepare-commit-msg
Due: none

ci: implement action make git
  provision/make/git.mk
Due: none

build: refactor lint code with eslint
  .github/linters/.eslintrc.js
Due: prettier, eslint

ci: implement pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

ci: implement issue template feature request
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

ci: implement issue template bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

ci: upgrade mailmap github
  .mailmap
Due: none

ci: implement action make yarn
  provision/make/yarn.mk
Due: none

ci: implement issue template general
  .github/ISSUE_TEMPLATE/general_issue.md
Due: prettier

refactor: lints pre-commit (#97)
  .github/linters/.gitleaks.toml
  .github/linters/.golangci.yml
  .github/linters/.hadolint.yaml
  .github/linters/.prettierignore
  .github/linters/.tflint.hcl
  .github/linters/markdown-link-config.json
  .pre-commit-config.yaml
Due: prettier

refactor: generator make to task actions (#97)
  Makefile
  Taskfile.yml
  provision/make/alias.mk
  provision/make/docs.mk
  provision/make/git.mk
  provision/make/python.mk
  provision/make/xelatex.mk
  provision/make/yarn.mk
  provision/task/changelog.yml
  provision/task/docker.yml
  provision/task/docs.yml
  provision/task/git.yml
  provision/task/gitflow.yml
  provision/task/go.yml
  provision/task/mark.yml
  provision/task/plantuml.yml
  provision/task/prettier.yml
  provision/task/python.yml
  provision/task/sonar.yml
  provision/task/ssh.yml
  provision/task/version.yml
  provision/task/xelatex.yml
  provision/task/yarn.yml
Due: prettier

refactor: generator readme (#97)
  provision/generators/README.yaml
  provision/templates/README.tpl.md
Due: prettier

chore: implement structure documentation (#97)
  docs/authors.md
  docs/code_of_conduct.md
  docs/commands.md
  docs/components.md
  docs/contribute/git-flow.md
  docs/contributing.md
  docs/diagrams/example.png
  docs/diagrams/logo.png
  docs/disclaimer.md
  docs/env-vars.md
  docs/examples/common.md
  docs/faq.md
  docs/releasing.md
  docs/roadmap.md
  docs/support.md
  docs/troubleshooting.md
Due: prettier

chore: implement github actions sonarqube and confluence (#97)
  .github/workflows/confluence.yml
  .github/workflows/release.yml
  .github/workflows/sonarqube.yml
Due: prettier

chore: implement configuration sonar (#97)
  .editorconfig
  .mailmap
  .nvmrc
  sonar-project.properties
Due: none

chore: implement diagrams generator with taskfile (#97)
  provision/diagrams/Taskfile.yml
  provision/diagrams/docs/diagrams/example.plantuml
  provision/diagrams/docs/diagrams/logo.plantuml
Due: prettier

chore: change version python (#97)
  Pipfile
  provision/task/xelatex.yml
Due: prettier

build: generate files (#97)
  .gitignore
  README.md
  provision/git/hooks/prepare-commit-msg
  resume.pdf
Due: prettier

fix: generate resume xelatex (#97)
  provision/task/xelatex.yml
Due: prettier
