Repository luismayta/resume: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylint

prettier:
  name: prettier
  language: system
  entry: ./node_modules/prettier/bin-prettier.js
  args:
  - --write=true
  - --config=.github/linters/prettier.config.js
  - --ignore-path=.github/linters/.prettierignore

eslint:
  name: eslint
  language: node
  entry: node_modules/eslint/bin/eslint.js
  args:
  - --fix
  - --color
  - --config=.github/linters/.eslintrc.js
  - --ignore-path=.github/linters/.eslintignore

stylint:
  name: stylint
  language: system
  pass_filenames: true
  entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
  args:
  - --fix

Delete provision/git/hooks/prepare-commit-msg
  provision/git/hooks/prepare-commit-msg
Due: none

Delete .github/renovate.json
  .github/renovate.json
Due: prettier

Delete .github/linters/.eslintrc.js
  .github/linters/.eslintrc.js
Due: prettier, eslint

Delete .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

Delete .github/workflows/lint.yml
  .github/workflows/lint.yml
Due: prettier

Delete .github/stale.yml
  .github/stale.yml
Due: prettier

Delete .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

Delete provision/make/git.mk
  provision/make/git.mk
Due: none

Delete .github/ISSUE_TEMPLATE/general_issue.md
  .github/ISSUE_TEMPLATE/general_issue.md
Due: prettier

Delete .github/linters/prettier.config.js
  .github/linters/prettier.config.js
Due: prettier, eslint

Delete provision/make/python.mk
  provision/make/python.mk
Due: none

Delete .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

Delete .github/semantic.yml
  .github/semantic.yml
Due: prettier

Delete provision/make/yarn.mk
  provision/make/yarn.mk
Due: none

Delete .github/linters/.commitlintrc.json
  .github/linters/.commitlintrc.json
Due: prettier

ci: implement stale configuration for github
  .github/stale.yml
Due: prettier

ci: implement action make python
  provision/make/python.mk
Due: none

build: refactor prettier config
  .github/linters/prettier.config.js
Due: prettier, eslint

ci: implement renovate configuration
  .github/renovate.json
Due: prettier

ci: implement template semantic github
  .github/semantic.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
